<a href="https://colab.research.google.com/github/hawkeye101/DLCVNLP/blob/main/Stats_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Stats Assignment 2**

In [99]:
from numpy import *
from scipy.stats import *
cdf = norm.cdf
ppf = norm.ppf
cdf_t = t.cdf
ppf_t = t.ppf
cdf_chi = chi2.cdf

**Problem 1**

Part 1: Correct hypothesis. Can be tested with two-tailed test.

Part 2: Incorrect hypothesis. Null hypothesis should be equality.

Part 3: Correct hypothesis. Can be tested directly without distribution.

Part 4: Incorrect hypothesis. Alternate hypothesis should be p ≠ 0.1.

Part 5: Incorrect hypothesis. Alternate hypothesis should be s ≠ 30.

**Problem 2**

Null Hypothesis: Average cost of books is as claimed by bookstore.

Alternate hypothesis: Average cost of books is higher.

Two tailed Z-test is used.

In [100]:
Z = (52.80-52) / (4.5/sqrt(100))
print('Z = |X - μ|/ (σ/√n) = %f' % Z)
print('p-value = %f' % (2*(1-cdf(Z))) )
print('Thus, we CANNOT reject the null hypothesis with 5% level of significance.')

Z = |X - μ|/ (σ/√n) = 1.777778
p-value = 0.075440
Thus, we CANNOT reject the null hypothesis with 5% level of significance.

**Problem 3**

Null Hypothesis: Average of pollutant level has NOT changed.

Alternate hypothesis: Average level of pollutant has changed.

Two tailed Z-test is used.

In [101]:
Z = (34-32.5) / (8/sqrt(50))
print('Z = |X - μ|/ (σ/√n) = %f' % Z)
print('p-value = %f' % (2*(1-cdf(Z))) )
print('Thus, we CANNOT reject the null hypothesis with 1% level of significance.')

Z = |X - μ|/ (σ/√n) = 1.325825
p-value = 0.184898
Thus, we CANNOT reject the null hypothesis with 1% level of significance.

**Problem 4**

Null Hypothesis: Dental expenditure in the place is described by nation average.

Alternate Hypothesis: Dental expenditure in the place is different from nation average.

Two tailed T-test is used.

In [102]:
from statistics import stdev
data = [1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994]
mean_s = mean(data)
std_s = stdev(data)
t = (mean_s - 1135) / (std_s/sqrt(22))
t = abs(t)
print('t = |sample mean - expected mean| / (sample stdev/√n) = %f' % t)
df = len(data) - 1
print('p-value = %f' % (2*(1-cdf_t(t, df = df))) )
print('Thus, we CANNOT reject the the null hypothesis with 5% level of significance.')

t = |sample mean - expected mean| / (sample stdev/√n) = 2.023137
p-value = 0.055974
Thus, we CANNOT reject the the null hypothesis with 5% level of significance.

**Problem 5**

Null hypothesis: Family income is $48432.

Alternate Hypothesis: Family income is not $48432.

Two tailed T-test is used.

In [103]:
t = abs((48432-48574)/(2000/sqrt(400)))
print('t = |sample mean - expected mean| / (sample stdev/√n) = %f' % t)
df = 400 - 1
print('p-value = %f' % (2*(1-cdf_t(t, df = df))) )
print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

t = |sample mean - expected mean| / (sample stdev/√n) = 1.420000
p-value = 0.156389
Thus, we CANNOT reject the null hypothesis with 5% significance level.

**Problem 6**

Null hypothesis: Average price is $32.28.

Alternate Hypothesis : Average price is not $32.28.

Two tailed T-test is used.

In [104]:
t = abs((32.28-31.67)/(1.29/sqrt(19)))
print('t = |sample mean - expected mean| / (sample stdev/√n) = %f' % t)
df = 19 - 1
print('p-value = %f' % (2*(1-cdf_t(t, df = df))) )
print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

t = |sample mean - expected mean| / (sample stdev/√n) = 2.061185
p-value = 0.054034
Thus, we CANNOT reject the null hypothesis with 5% significance level.

**Problem 7**

**Problem 8**

In [105]:
t = abs((12-10)/(1.5/sqrt(16)))
print('t = |sample mean - expected mean| / (sample stdev/√n) = %f' % t)
#df = 16 - 1
#print('CDF = %f' % cdf_t(t, df = df))

t = |sample mean - expected mean| / (sample stdev/√n) = 5.333333

**Problem 9**

In [106]:
df = 16 - 1
t = ppf_t(0.99,df)
print('Required t score = %f' % t)

Required t score = 2.602480

**Problem 10**

In [107]:
df = 25 - 1
t = ppf_t(0.95+0.05/2,df)
print('Required t score = -%f to %f' % (t,t))

Required t score = -2.063899 to 2.063899

**Problem 11**

Null Hypothesis: Same number of people travel from Bangalore-Chennai and Bangalore-Hosur.

Alternate Hypothesis: Different number of people travel each journeys.

In [108]:
def ANOVA_one_way(x1, s1, n1, x2, s2, n2):
    SS_err = s1**2 * (n1-1) + s2**2 * (n2-1)
    var = SS_err / (n1+n2-2)
    #print(n1)
    #print(n2)
    t = (x1 - x2) / sqrt(1/n1 + 1/n2) / sqrt(var)
    print('Two-tailed t-test is used.')
    print('t score = %f' % (t))
    df = n1 + n2 - 2
#    print('p-value = %f' % (2*(1-cdf(abs(t)))) )
    p_val = (2*(1-cdf_t(abs(t), df = df)))
    print('p-value = %f' %  p_val)
    if(p_val < 0.05):
      print('Thus, we reject the null hypothesis with 5% significance level.')
    else:
      print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

ANOVA_one_way(452, 212, 1200, 523, 185, 800)

Two-tailed t-test is used.
t score = -7.714518
p-value = 0.000000
Thus, we reject the null hypothesis with 5% significance level.

**Problem 12**

Null Hypothesis: Same number of people prefer Duracell and Energizer battery.

Alternate Hypothesis: Different number of people prefer each battery.

In [109]:
ANOVA_one_way(308, 84, 100, 254, 67, 100)

Two-tailed t-test is used.
t score = 5.025703
p-value = 0.000001
Thus, we reject the null hypothesis with 5% significance level.

**Problem 13**

Null Hypothesis: Percentage increase in price of sugar is same at both prices.

Alternate Hypothesis: Percentage increase in price of sugar is NOT same at both prices.

In [110]:
ANOVA_one_way(0.317, 0.12, 14, 0.21, 0.11, 9)

Two-tailed t-test is used.
t score = 2.153553
p-value = 0.043047
Thus, we reject the null hypothesis with 5% significance level.

**Problem 14**

Null Hypothesis: Sales is NOT changed after price reduction.

Alternate Hypothesis: Sales is changed after price reduction.

In [111]:
ANOVA_one_way(6598, 844, 15, 6870, 669, 12)

Two-tailed t-test is used.
t score = -0.909830
p-value = 0.371601
Thus, we CANNOT reject the null hypothesis with 5% significance level.

**Problem 15**

Null Hypothesis: Banks share is same in 1980 and 1995.

Alternate Hypothesis: Banks share is NOT same in 1980 and 1995.

In [112]:
def ANOVA_proportions(p1, n1, p2, n2, delta=0):
  SE = sqrt( (p1*(1-p1)/n1) + (p2*(1-p2)/n2) )
  #print(SE)
  z_stat = (abs(p1-p2)-delta)/SE
  p_val = 2*(1-cdf(abs(z_stat)))
  print('Two-tailed z-test is used.')
  print('z score = %f' % (z_stat))
  print('p-value = %f' %  p_val)
  if(p_val < 0.05):
    print('Thus, we reject the null hypothesis with 5% significance level.')
  else:
    print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

ANOVA_proportions(53/1000, 1000, 43/100, 100)

Two-tailed z-test is used.
z score = 7.538205
p-value = 0.000000
Thus, we reject the null hypothesis with 5% significance level.

**Problem 16**

Null hypothesis: Proportion of check buyers with sweepstake prizes is at least 10% higher.

Alternate hypothesis: Proportion of check buyers with sweepstake prizes is NOT at least 10% higher.

In [113]:
def ANOVA_proportions_one_tail(p1, n1, p2, n2, delta=0):
  SE = sqrt( (p1*(1-p1)/n1) + (p2*(1-p2)/n2) )
  #print('Standard error = %f' % SE)
  z_stat = abs(p1-p2-delta)/SE
  p_val = 1-cdf(abs(z_stat))
  print('One-tailed z-test is used.')
  print('z score = %f' % z_stat)
  print('p-value = %f' %  p_val)
  if(p_val < 0.05):
    print('Thus, we reject the null hypothesis with 5% significance level.')
  else:
    print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

ANOVA_proportions_one_tail(120/300, 300, 140/700, 700, 0.1)

One-tailed z-test is used.
z score = 3.118048
p-value = 0.000910
Thus, we reject the null hypothesis with 5% significance level.

**Problem 17**

Null hypothesis: Die is unbiased.

Alternate hypothesis: Die is biased.

In [114]:
def chi_square_test_single(obs):
  exp = sum(obs)/size(obs)
  chi_sq = sum([(obs[index]-exp)**2 / exp for index in range(size(obs))])
  #print(chi_sq)
  p_val = 1 - cdf_chi(chi_sq, df = size(obs)-1)
  print('p-value = %f' %  p_val)
  if(p_val < 0.05):
    print('Thus, we reject the null hypothesis with 5% significance level.')
  else:
    print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

In [115]:
obs = [16, 20, 25, 14, 29, 28]
chi_square_test_single(obs)

p-value = 0.109064
Thus, we CANNOT reject the null hypothesis with 5% significance level.

**Problem 18**

Null hypothesis: Gender and voting are independent.

Alternate hypothesis: Gender and voting are dependent.

In [116]:
def chi_square_test(obs_mat):
  r,c = shape(obs_mat)
  col_total = sum(obs_mat, axis=0)
  row_total = sum(obs_mat, axis=1)
  grand_total = sum(col_total)
  exp_freq = [tot/grand_total for tot in col_total]
  chi_sq = 0
  for index1 in range(r):
    for index2 in range(c):
      exp_val = exp_freq[index2] * row_total[index1]
      #print(exp_val)
      chi_sq = chi_sq + (obs_mat[index1][index2] - exp_val)**2 / exp_val

  #print(chi_sq)
  p_val = 1 - cdf_chi(chi_sq, df = (r-1)*(c-1))
  print('p-value = %f' %  p_val)
  if(p_val < 0.05):
    print('Thus, we reject the null hypothesis with 5% significance level.')
  else:
    print('Thus, we CANNOT reject the null hypothesis with 5% significance level.')

obs_mat = [[2792, 3591], [1486, 2131]]
#chi_square_test(list(map(list, zip(*obs_mat))))
chi_square_test(obs_mat)

p-value = 0.009858
Thus, we reject the null hypothesis with 5% significance level.

**Problem 19**

Null hypothesis: All candidates are equally popular.

Alternate hypothesis: All candidates are not equally popular.

In [117]:
obs = [41, 19, 24, 16]
chi_square_test_single(obs)

p-value = 0.001851
Thus, we reject the null hypothesis with 5% significance level.

**Problem 20**

Null hypothesis: Age and photograph preference are independent.

Alternate hypothesis: Age and photograph preference are dependent.

In [118]:
obs = [[18, 22, 20], [2, 28, 40], [20, 10, 40]]
chi_square_test(obs)

p-value = 0.000006
Thus, we reject the null hypothesis with 5% significance level.

**Problem 21**

Null hypothesis: 'Support' and 'conform' are independent.

Alternate hypothesis: 'Support' and 'conform' are dependent.

In [119]:
obs = [[18,40],[32,10]]
chi_square_test(obs)

p-value = 0.000008
Thus, we reject the null hypothesis with 5% significance level.

**Problem 22**

Null hypothesis: Stature and leadership qualities are independent.

Alternate hypothesis: Stature and leadership qualities are dependent.

In [120]:
obs = [[12, 22, 9],[32, 14, 6]]
chi_square_test(obs)

p-value = 0.004719
Thus, we reject the null hypothesis with 5% significance level.

**Problem 23**

Null hypothesis: Marital status and employment are independent.

Alternate hypothesis: Marital status and employment are dependent.

In [121]:
obs = [[679, 103, 114], [63, 10, 20], [42, 18, 25]]
chi_square_test(obs)

p-value = 0.000002
Thus, we reject the null hypothesis with 5% significance level.